.img-fluid {
    height: 200px;
    width: 230px;
}

.main-home-container {
    position: absolute;

}

.main-home {
    display: flex;
    padding-left: 4rem;
    gap: 3rem;
    flex-wrap: wrap;
}

.home-input {
   margin-left: 4rem;
    

}


.search-head {
    margin-top: 2rem;
    margin-bottom: 2rem;  
  
}

.card {
    text-align: center;
    border: 1px solid #fff;
}